<h1><%= @task_list.name + @title %></h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <div class="task">
        <div class="task_name">
          <%= task.description + " (" + (task.date.mjd - Date.today.mjd).to_s + " days)" %>
        </div>
        <%= link_to "Delete", task_list_task_path(@task_list, task), method: :delete, class: "delete" %>

      </div>
    </li>
  <% end %>
</ul>