/*
*= require_tree .
*= require_self
*= require jquery-ui
*/

.container {
  width: 960px;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

header {
  background: navy;
  color: white;

  a {
    color: white;
    text-decoration: none;
  }
}

html, body {
  background: #efefef;
}

main {
  .container {
    background: white;
  }
}

.logo {
  float: left;
  font-weight: bold;
}

.logout {
  float: right;
}

.errors {
  color: maroon;
  margin-bottom: 1em;
}

.about {
  margin-left: 20px;
}

.signin-form {
  width: 20em;
  border: 1px solid #ccc;
  padding: 2em;
  margin: 2em auto;
  background: #efefef;

  > div {
    padding: .3em 0;
  }

  label {
    display: inline-block;
    width: 6em;
  }

  input[type=submit] {
    margin-left: 6.3em;
  }
}

.task-list {
  padding: 1em;
  & + & {
    border-top: 1px solid darkblue;
  }

  h1 {
    font-size: 110%;
  }
}

.wrapper {
  margin: auto;
  width: 980px;
}

.wrapper h1 {
  text-align: center;
}

.search {
  display: inline-block;
  margin-left: 20px;
}

.task_list {
  display: inline-block;
  text-decoration: none;
}

.task_list:visited {
  color: #000;
}

.add {
  display: inline-block;
  font-size: 15px;
  margin-left: 10px;
}

.flash {
  background-color: #96FFC0;
  font-size: 15px;
  padding: 15px;
  border: 1px solid #548F6C;
}

ul {
  list-style: none;
  margin: -20px 0 0 -10px;
  padding: 0;
}

.task {
  background-color: #EFEFEF;
  font-size: 15px;
  padding: 15px;
  border: 1px solid #999999;
  margin: 10px;
}

.task_blank {
  background-color: #EFEFEF;
  font-size: 15px;
  padding: 15px;
  border: 1px solid #999999;
  margin: 10px;
  text-align: center;
}

.delete {
  background-color: #cccccc;
  display: inline-block;
  border: 1px solid black;
  position: relative;
  top: -6px;
  left: 5px;
  padding: 5px;
  margin-left: 10px;
  float: right;
  text-decoration: none;
  color: black;
}

.task_name {
  display: inline-block;
}

.task button {
  border: none;
}

.edit_task {
  float: right;
}

h1, h1 {
  display: inline-block;
}

section a:nth-child(1) {
  margin-left: 0;
}

.list_options {
  float: right;
  margin: 35px 10px -10px 0;
}

.list_options * {
  margin-left: 100px;
  display: inline-block;
  border: 0;
  background: none;
  text-decoration: underline;
}

.filter-options {
  float: right;
  margin-top: 30px;
  width: 500px;
}

.filter-options .delete {
  margin: 2px 27px 0 0;
  width: 53px;
}


#start_date {
  margin-right: 20px;
}
.cal-date {
  width: 100px;
  margin-right: 20px;
}

.list_options input {
  border: 0;
  background: none;
  text-decoration: underline;
}

.list_options *:visited {
  color: none;
}

.form_list li {
  margin: 10px;
  font-size: 15px;
}

.form_list {
  margin-top: 10px;
  padding: 0;
}

.text input {
  width: 300px;
}

#task_date {
  width: 90px;
}

.button {
  background-color: blue;
  color: #fff;
  border: 1px solid #999999;
  border-radius: 2px;
}

.field_with_errors label {
  color: red;
}
